* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.estudo-page {
  background-image: url("../images/ceu.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  margin: 100px 20px 20px 20px;
  text-align: center;
}

p {
  color: white;
}