html {
  text-align: center;
  color: white;
  margin: auto;
}

body {
  background-image: url('../images/imginicial.jpg');
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}

.inicio {
  background-color: white;
  margin: 10px;
  padding: 10px;
  border-radius: 20px;
  width: 800px;
  margin: auto;
  opacity: 0.8;
}

h1 {
  color: white;
  border-bottom: 2px solid white;
  font-size: 60px;
}
h2 {
  font-size: 40px;
}
h3 {
  color: white;
  font-size: 20px;
}

address {
  padding: 10px;
}